<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>

    <th:block th:fragment="table">
        <table class="job-listing"/>
        <th:block th:each="job: ${jobs}">
            <tr>
                <td>
                    <b>
                        <p>ID: <th:block th:text = "${job.id}"></th:block> </p>
                        <p>Name: <th:block th:text = "${job.name}"></th:block> </p>
                        <p>Employer: <th:block th:text = "${job.employer}"></th:block> </p>
                        <p>Location: <th:block th:text = "${job.location}"></th:block> </p>
                        <p>Position: <th:block th:text = "${job.positionType}"></th:block> </p>
                        <p>Skill: <th:block th:text = "${job.coreCompetency}"></th:block> </p>
                    </b>
                </td>
            </tr>
        </th:block>
        </table>
    </th:block>
</html>